$footerHeight: 50px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #e6e6e6;
}

.content {
    min-height: calc(100vh - #{$footerHeight}); // footer stick to the bottom of the page
    p {
        font-size: 0.85rem;
    }
}

h1 {
    font-size: clamp(1.25em, 1.25em + 2vw, 2em);
    padding: 1rem;
}
h2 {
    font-size: clamp(1em, 1em + 2vw, 1.5em);
}

div.graph-container {
    position: relative;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem 1rem;
    border-radius: 4px;
    overflow: auto;
    svg {
        position: relative;
        width: clamp(500px, 75vw, 1000px);
        margin-bottom: -5px;
        font-style: italic;
        border: 1px solid grey;
        border-radius: 4px;
        box-shadow: 12px 12px 12px 2px #504c64;
        background-color: #fff;
    }
}

.bar {
    fill: #0066ff;
    &:hover {
        fill: #ffee00;
    }
}

#tooltip {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0.5rem;
    font-size: 0.9rem;
    border: 1px solid #111;
    border-radius: 4px;
    color: #fff;
    background-color: #111;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s, top 0.3s, left 0.3s;
    pointer-events: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: $footerHeight;
    font-size: 0.75rem;
    margin: 2.5rem 0 0;
    padding: 0.75rem;
    border-top: 1px solid #111;
    box-shadow: 4px 0 30px 1px #504c64;
    background: #fff;
    p {
        width: 100%;
    }
}